html{
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to top right, blue, hotpink);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  .btn-size{
    width: 100%;
  }