.img{
    width: 100%;
    height: 650px;
}
.hvr:hover{
    border-bottom-right-radius: 10%;
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 2px 2px 12px;
}
.bgimg{
    background-image: url('E:/M.Sc.IT/SEM 5/Project/essence-free-opl/essence-free-opl/img/portfolio/other/reunion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pad{
    padding: 5px;
    padding-left: 37%;
}
.dot {
    background-image: url('E:/M.Sc.IT/SEM 5/Project/essence-free-opl/essence-free-opl/img/profile/harsh.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.img-profile{
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.tblmanagecust{
    border: 2px solid black;
    width: 80%;
    background-image: linear-gradient(#bb06bb, rgb(230, 176, 240));
    color: whitesmoke;
}
.trmanagecust{
    border: 1px solid white;
}
.thmanagecust{
    color: rgb(13, 4, 100);
}

.tblmanagedealer{
    border: 2px solid black;
    width: 80%;
    background-image: linear-gradient(#c6bb24, rgb(223, 240, 176));
    color: rgb(13, 4, 100);
}
.trmanagedealer{
    border: 1px solid white;
}
.thmanagedealer{
    color: rgb(13, 4, 100);
}

.tblfeedback{
    border: 2px solid black;
    width: 80%;
    background-image: linear-gradient(#1c065e, rgb(14, 173, 241));
    color: whitesmoke;
}
.trfeedback{
    border: 1px solid white;
}
.thfeedback{
    color: whitesmoke;
}